@use '@/assets/scss/constants/variables' as vars;

.home-container {
    width: 100%;
    min-height: 100vh;
    background-color: vars.$background-color;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
